# <center>World Map Geovisualization using Folium and Covid Data

### Import Libraries

In [8]:
# importing Libraries

import json
import folium
import requests
import mimetypes
import http.client
import pandas as pd
from folium.plugins import HeatMap
from pandas.io.json import json_normalize

### Access Data via API

In [9]:
connect = http.client.HTTPSConnection("api.covid19api.com") #connecting to the api
payload = ''
connect.request("GET", "/summary", payload, headers ={})
response = connect.getresponse()
data = response.read().decode('UTF-8')

### Convert Data to JSON

In [12]:
covid_data = json.loads(data)

### Normalize Data

In [15]:
pd.json_normalize(covid_data['Countries'])

,Country,CountryCode,Slug,NewConfirmed,TotalConfirmed,NewDeaths,TotalDeaths,NewRecovered,TotalRecovered,Date
0,Afghanistan,AF,afghanistan,62,39548,2,1469,68,33045,2020-10-08T23:52:12Z
1,Albania,AL,albania,162,14730,4,407,150,9115,2020-10-08T23:52:12Z
2,Algeria,DZ,algeria,121,52520,3,1771,94,36857,2020-10-08T23:52:12Z
3,Andorra,AD,andorra,198,2568,0,53,100,1715,2020-10-08T23:52:12Z
4,Angola,AO,angola,0,5725,0,211,0,2598,2020-10-08T23:52:12Z
...,...,...,...,...,...,...,...,...,...,...
183,Viet Nam,VN,vietnam,1,1099,0,35,0,1023,2020-10-08T23:52:12Z
184,Western Sahara,EH,western-sahara,0,10,0,1,0,8,2020-10-08T23:52:12Z
185,Yemen,YE,yemen,2,2049,0,593,1,1328,2020-10-08T23:52:12Z
186,Zambia,ZM,zambia,54,15224,0,335,29,14342,2020-10-08T23:52:12Z
187,Zimbabwe,ZW,zimbabwe,4,7919,0,229,1,6441,2020-10-08T23:52:12Z

### Convert to Pandas DataFrame

In [16]:
df = pd.DataFrame(covid_data['Countries'])
df.head(10)

,Country,CountryCode,Slug,NewConfirmed,TotalConfirmed,NewDeaths,TotalDeaths,NewRecovered,TotalRecovered,Date,Premium
0,Afghanistan,AF,afghanistan,62,39548,2,1469,68,33045,2020-10-08T23:52:12Z,{}
1,Albania,AL,albania,162,14730,4,407,150,9115,2020-10-08T23:52:12Z,{}
2,Algeria,DZ,algeria,121,52520,3,1771,94,36857,2020-10-08T23:52:12Z,{}
3,Andorra,AD,andorra,198,2568,0,53,100,1715,2020-10-08T23:52:12Z,{}
4,Angola,AO,angola,0,5725,0,211,0,2598,2020-10-08T23:52:12Z,{}
5,Antigua and Barbuda,AG,antigua-and-barbuda,1,108,0,3,1,97,2020-10-08T23:52:12Z,{}
6,Argentina,AR,argentina,16447,840915,399,22226,10453,670725,2020-10-08T23:52:12Z,{}
7,Armenia,AM,armenia,672,53755,5,995,178,45110,2020-10-08T23:52:12Z,{}
8,Australia,AU,australia,25,27206,0,897,22,24937,2020-10-08T23:52:12Z,{}
9,Austria,AT,austria,1029,50848,8,830,709,40499,2020-10-08T23:52:12Z,{}

### Drop Unnecessary Columns

In [18]:
cdf = df.drop(columns=['CountryCode', 'Slug', 'Date', 'Premium'], axis=1)
cdf.head(10)

,Country,NewConfirmed,TotalConfirmed,NewDeaths,TotalDeaths,NewRecovered,TotalRecovered
0,Afghanistan,62,39548,2,1469,68,33045
1,Albania,162,14730,4,407,150,9115
2,Algeria,121,52520,3,1771,94,36857
3,Andorra,198,2568,0,53,100,1715
4,Angola,0,5725,0,211,0,2598
5,Antigua and Barbuda,1,108,0,3,1,97
6,Argentina,16447,840915,399,22226,10453,670725
7,Armenia,672,53755,5,995,178,45110
8,Australia,25,27206,0,897,22,24937
9,Austria,1029,50848,8,830,709,40499

### Generate Base Map

In [24]:
base_map = folium.Map(tiles='Stamen Terrain', min_zoom=1.5)
base_map

### Obtain Geodata

geodata url: https://raw.githubusercontent.com/python-visualization/folium/master/examples/data

geo data file: world-countries.json

In [26]:
url= 'https://raw.githubusercontent.com/python-visualization/folium/master/examples/data'
country_shapes = f'{url}/world-countries.json'

### Generate Choropleth Map Layer

In [ ]:
folium.Choropleth(
    geo_data=country_, data=None, columns=None, key_on=None, bins=6, fill_color=None, nan_fill_color='black', fill_opacity=0.6, nan_fill_opacity=None, line_color='black', line_weight=1, line_opacity=1, name=None, legend_name='', overlay=True, control=True, show=True,
)

### Generate Circular Markers

coordinates of countries: https://raw.githubusercontent.com/VinitaSilaparasetty/covid-map/master/country-coordinates-world.csv

### Generate Base Map

### Generate Heat Map Layer

### Generate Circular Marker